@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen bg-surface-950 text-slate-100 antialiased;
  }

  *:focus-visible {
    @apply outline-none;
  }
}

@layer utilities {
  .border-3 {
    border-width: 3px;
  }
}

.scroll-hidden:scrollbar {
  display: none;
}

.font-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hide Google Translate top toolbar banner */
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

/* Hide the powered-by logo branding inside the dropdown if desired */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}